EnsembleTR.egg-info/
build/
dist/
*.vcf
*.vcf.gz.tbi
*.ipynb_checkpoints*
.mergevenv/
venv/
.idea
*~
*.tab
*.pdf
nohup.out
*.pyc
tmp
*.json
.snakemake
*__pycache__*
.vscode/
notebooks/.ipynb_checkpoints/
.DS_Store
merge-analysis/
